@import "/my-theme.css";
.main {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0px;
  padding: 0px;
}
.main .personal_info {
  color: #263036;
  background-color: #86A3B4;
  width: 385px;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.25);
  animation: sectionup linear forwards;
  animation-timing-function: 1.5s 0.5s;
  z-index: 1;
}
@keyframes sectionup {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.main .personal_info .my_photo {
  width: 100%;
  height: auto;
  margin-top: 36px;
  position: relative;
  top: 0;
  left: 0;
}
.main .personal_info .my_photo:hover {
  box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.25);
  width: 135%;
  transition: width 1s linear;
}
.main .personal_info .name {
  color: #000000;
  padding-left: 40px;
  padding-top: 58px;
}
.main .personal_info .surname {
  color: #1C2E8C;
}
.main .personal_info .contact {
  margin-top: 28px;
  margin-left: 40px;
  margin-bottom: 36px;
}
.main .personal_info .contact .title_contact {
  border-bottom: 5px solid rgb(30, 30, 30);
  padding-bottom: 15px;
  width: 289px;
}
.main .personal_info .contact .address {
  padding-top: 36px;
}
.main .personal_info .contact .location {
  font-weight: bold;
}
.main .personal_info .contact .phone {
  padding-top: 36px;
}
.main .personal_info .contact .phone_number {
  font-weight: bold;
}
.main .personal_info .contact .emaile {
  padding-top: 36px;
}
.main .personal_info .contact .e_maile {
  font-weight: bold;
}
.main .personal_info .contact .instagram {
  padding-top: 36px;
}
.main .personal_info .contact .cite_instagram {
  font-weight: bold;
}
.main .personal_info .contact a {
  text-decoration: none;
}
.main .personal_info .language {
  margin-left: 40px;
  padding-bottom: 530px;
  padding-top: 10px;
}
.main .personal_info .language .languages {
  border-bottom: 5px solid rgb(30, 30, 30);
  width: 289px;
  padding-bottom: 15px;
}
.main .personal_info .language .ukrainian {
  font-weight: bold;
}
.main .personal_info .language .english {
  font-weight: bold;
}
.main .second_container {
  animation: sectionup linear forwards;
  animation-timing-function: 1.5 1s;
}
.main .second_container .summary_container {
  margin-top: 53px;
  margin-right: 54px;
  margin-bottom: 28px;
  margin-left: 55px;
  max-width: 706px;
}
.main .second_container .summary_container .summary {
  border-bottom: 5px solid rgb(30, 30, 30);
  max-width: 659px;
  padding-left: 25px;
  padding-bottom: 28px;
  margin-bottom: 28px;
}
.main .second_container .summary_container .summary_description {
  font-weight: bold;
}
.main .second_container .skill {
  margin-left: 55px;
}
.main .second_container .skill .skills {
  border-bottom: 5px solid rgb(30, 30, 30);
  max-width: 659px;
  padding: 28px;
  padding: 28px;
}
.main .second_container .skill .ul_container {
  font-weight: bold;
  display: flex;
}
.main .second_container .skill .ul_container .ul1 {
  flex: 1;
}
.main .second_container .skill .ul_container .ul2 {
  flex: 1;
}
.main .second_container .work {
  margin-top: 53px;
  margin-left: 55px;
  max-width: 706px;
}
.main .second_container .work .work_experience {
  border-bottom: 5px solid rgb(30, 30, 30);
  max-width: 706px;
  padding: 28px;
  padding: 28px;
}
.main .second_container .work .name_of {
  font-weight: bold;
}
.main .second_container .work .dates {
  font-weight: bold;
}
.main .second_container .work .job {
  font-weight: bold;
}
.main .second_container .work .project {
  font-weight: bold;
}
.main .second_container .work .second_paragraph {
  opacity: 0.7;
}
.main .second_container .work .second_paragraph:hover {
  opacity: 1;
  animation: textopacity 1.5s linear forwards;
}
@keyframes textopacity {
  from {
    opacity: 100%;
  }
  to {
    opacity: 70%;
  }
}
.main .second_container .work .second_paragraph .employer {
  font-weight: bold;
}
.main .second_container .work .second_paragraph .employment {
  font-weight: bold;
}
.main .second_container .work .second_paragraph .job_title {
  font-weight: bold;
}
.main .second_container .work .second_paragraph .role {
  font-weight: bold;
}
.main .second_container .education_container {
  margin-top: 53px;
  margin-left: 55px;
}
.main .second_container .education_container .education {
  border-bottom: 5px solid rgb(30, 30, 30);
  max-width: 659px;
  padding: 28px;
  padding: 28px;
}
.main .second_container .education_container .studying {
  font-weight: bold;
}
.main .second_container .education_container .institution {
  font-weight: bold;
}
.main .second_container .education_container .major {
  font-weight: bold;
}
@media screen and (max-width: 390px) {
  .main .second_container .education_container .main {
    flex-direction: column;
  }
  .main .second_container .education_container .language {
    padding-bottom: 20px;
  }
  .main .second_container .education_container .second_container {
    margin-left: -25px;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */