.main {
    color: #333;
   font-family: Arial, Helvetica, sans-serif; 
   display: flex;
   flex-direction: row;
   width: 1200px;
}

.personal_info{
    color: #263036;
    background-color: #86A3B4;
    width: 385px;
}

.my_photo{
    width: 385px;
    height: 292px;
    margin-top: 36px;
}

.name{
    color: white;
    padding-left: 40px;
    padding-top: 58px;
}

.surname{
    color: #1C2E8C;
}

.contact{
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 36px;
}

.title_contact{
    border-bottom: 5px solid black;
    padding-bottom: 15px;
    width: 289px;
}

.address{
    padding-top: 31px;
}

.location{
    font-weight: bold;
}

.phone{
    padding-top: 36px;
}

.phone_number{
    font-weight: bold;
}

.emaile{
    padding-top: 36px;
}

.e_maile{
    font-weight: bold;
}

.instagram{
    padding-top: 36px;
}

.cite_instagram{
    font-weight: bold;
}

a{
    text-decoration: none;
}

.ukrainian{
    font-weight: bold;
}

.english{
    font-weight: bold;
}

.language{
   margin-left: 40px; 
   padding-bottom: 530px;
   padding-top: 10px;
}

.languages{
    border-bottom: 5px solid black;
    width: 289px;
    padding-bottom: 15px;
}

.summary_container{
    margin: 58px 54px 49px 55px;
    width: 706px;
}

.summary{
    border-bottom: 5px solid black;
    width: 659px;
    padding-bottom: 28px;
    margin-bottom: 28px;
}

.summary_description{
    font-weight: bold;
}

.skill{
    margin-left: 55px;
}

.skills{
    border-bottom: 5px solid black;
    width: 659px;
    padding: 28px 0px 28px 0px;
}

.ul_container{
    font-weight: bold;
    display: flex;
}

.ul1{
flex: 1;
}

.ul2{
flex: 1;
}

.work{
    margin-left: 55px;
    margin-top: 49px;
    width: 706px;
}

.work_experience{
    border-bottom: 5px solid black;
    width: 659px;
    padding: 28px 0px 28px 0px;
}

.dates{
    font-weight: bold;
}

.job{
    font-weight: bold;
}

.project{
    font-weight: bold;
}

.name_of{
    font-weight: bold;
}

.employer{
    font-weight: bold;
}

.employment{
    font-weight: bold;
}

.job_title{
    font-weight: bold;
}

.role{
    font-weight: bold;
}

.education{
    border-bottom: 5px solid black;
    width: 659px;
    padding: 28px 0px 28px 0px;
}

.education_container{
    margin: 53px 0px 0px 55px;
}

.studying{
    font-weight: bold;
}

.institution{
    font-weight: bold;
}

.major{
    font-weight: bold;
}