.main-theme {
 /* colors */
 --bg-color-aside: #86A3B4;
 --bg-color-main: #ffffff;
 --color-name-primary: #FFFFFF;
 --color-name-secondary: #1C2E8C;
 --color-text-primary: #000000;
 --color-text-secondary: #263036;
 --color-border: rgba(30, 30, 30, 1);

 /* Padding */
 --padding: 0px;
 --padding-bottom-aside: 15px;
 --padding-bottom-main: 28px;
 --padding-left-aside: 40px;
 --padding-left-main: 25px;
 --padding-top-aside: 58px;
 --padding-top: 36px;
 --padding-top-main: 28px;
 --padding-top-language: 10px;
 --padding-bottom-language: 530px;

 /* Margin */
 --margin: 0px;
 --margin-bottom-main: 28px;
 --margin-bottom-aside: 36px;
 --margin-top-aside: 36px; 
 --margin-top-main: 53px;
 --margin-left-main: 55px;
 --margin-right-main: 54px;
 --margin-left-aside: 40px;
}

.main {
    color: var(--color-text-primary);
    font-family: Arial, Helvetica, sans-serif; 
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: var(--margin);
    padding: var(--padding);
}

.personal_info {
    color: var(--color-text-secondary);
    background-color: var(--bg-color-aside);
    width: 385px;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.25);
    animation: sectionup 1.5s .5s linear forwards;
    z-index: 1;
}

@keyframes sectionup {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.my_photo{
    width: 100%;
    height: auto;
    margin-top: var(--margin-top-aside);
    position: relative;
    top: 0;
    left: 0;
}

.my_photo:hover {
    box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.25);
    width: 135%;
    transition: width 1s linear;
}

.name{
    color: var(--color-text-primary);
    padding-left: var(--padding-left-aside);
    padding-top: var(--padding-top-aside);
}

.surname{
    color: var(--color-name-secondary);
}

.contact{
    margin-top: var(--margin-top-main);
    margin-left: var(--margin-left-aside);
    margin-bottom: var(--margin-bottom-aside);
}

.title_contact{
    border-bottom: 5px solid var(--color-border);
    padding-bottom: var(--padding-bottom-aside);
    width: 289px;
}

.address{
    padding-top: var(--padding-top);
}

.location{
    font-weight: bold;
}

.phone{
    padding-top: var(--padding-top);
}

.phone_number{
    font-weight: bold;
}

.emaile{
    padding-top: var(--padding-top);
}

.e_maile{
    font-weight: bold;
}

.instagram{
    padding-top: var(--padding-top);
}

.cite_instagram{
    font-weight: bold;
}

a{
    text-decoration: none;
}

.ukrainian{
    font-weight: bold;
}

.english{
    font-weight: bold;
}

.language{
   margin-left: var(--margin-left-aside); 
   padding-bottom: var( --padding-bottom-language);
   padding-top: var(--padding-top-language);
}

.languages{
    border-bottom: 5px solid var(--color-border);
    width: 289px;
    padding-bottom: var(--padding-bottom-aside);
}

.second_container {
    animation: sectionup 1.5s 1s linear forwards; 
}

.summary_container{
    margin-top: var(--margin-top-main);
    margin-right: var(--margin-right-main);
    margin-bottom: var(--padding-bottom-main);
    margin-left: var(--margin-left-main);
    max-width: 706px;
}

.summary{
    border-bottom: 5px solid var(--color-border);
    max-width: 659px;
    padding-left: var(--padding-left-main);
    padding-bottom: var(--padding-bottom-main);
    margin-bottom: var(--padding-bottom-main);
    
}

.summary_description{
    font-weight: bold;
}

.skill{
    margin-left: var(--margin-left-main);
}

.skills{
    border-bottom: 5px solid var(--color-border);
    max-width: 659px;
    padding: var(--padding-bottom-main);
    padding: var(--padding-top-main);
}

.ul_container{
    font-weight: bold;
    display: flex;
}

.ul1{
flex: 1;
}

.ul2{
flex: 1;
}

.work{
    margin-top: var(--margin-top-main);
    margin-left: var(--margin-left-main);
    max-width: 706px;
}

.work_experience{
    border-bottom: 5px solid var(--color-border);
    max-width: 706px;
    padding: var(--padding-bottom-main);
    padding: var(--padding-top-main);
}

.dates{
    font-weight: bold;
}

.job{
    font-weight: bold;
}

.project{
    font-weight: bold;
}

.name_of{
    font-weight: bold;
}

.second_paragraph {
    opacity: .7;
}

.second_paragraph:hover {
    opacity: 1;
    animation: textopacity 1.5s linear forwards;
}

@keyframes textopacity {
    from {
        opacity: 100%;
    }
    to {
        opacity: 70%;
    }
}

.employer{
    font-weight: bold;
}

.employment{
    font-weight: bold;
}

.job_title{
    font-weight: bold;
}

.role{
    font-weight: bold;
}

.education{
    border-bottom: 5px solid var(--color-border);
    max-width: 659px;
    padding: var(--padding-bottom-main);
    padding: var(--padding-top-main);
}

.education_container{
    margin-top: var(--margin-top-main);
    margin-left: var(--margin-left-main);
}

.studying{
    font-weight: bold;
}

.institution{
    font-weight: bold;
}

.major{
    font-weight: bold;
}

@media screen and (max-width: 390px){
    .main {
        flex-direction: column; 
    } 
    .language {
        padding-bottom: 20px;
        } 
    .second_container {
        margin-left: -25px;
        justify-content: center;
    } 
}




    
